@charset "UTF-8";
.inv {opacity: 0 !important;}
.impress-on-OVERVIEW .step:not(active) {opacity: 1 !important;}
.impress-on-QM_SLA1 #QM_SLA:not(active) {opacity: 1 !important;}
.impress-on-QM_SLA2 #QM_SLA:not(active) {opacity: 1 !important;}
