.speech-bubble {
    position: relative;
    display: table;
    background-color: #626262;
    width: 850px;
    /*height: 550px;*/
    line-height: 40px; /* vertically center */
    color: rgb(255, 255, 255);
    text-align: justify;
    border-radius: 15px;
    padding: 20px 20px 20px 60px;
    margin: 10px;
    /*font-family: sans-serif;*/
}

.speech-bubbli {
    position: relative;
    display: table;
    background-color: #626262;
    line-height: 50px; /* vertically center */
    color: rgb(255, 255, 255);
    text-align: justify;
    border-radius: 15px;
    padding: 10px 10px 20px 60px;
    /*font-family: sans-serif;*/
}

.speech-bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid;
}

/* Position the Arrow */

.speech-bubble-top:after {
    background-color: #626262;
    color: rgba(255, 255, 255, 0);
    left: 50%;
    bottom: 100%;
    margin-left: -15px;
}
.speech-bubble-right:after {
    border-left-color:  #626262;
    color: rgba(255, 255, 255, 0);
    left: 100%;
    top: 50%;
    margin-top: -15px;
}

.speech-bubble-bottom:after {
    border-top-color:  #626262;
    color: rgba(255, 255, 255, 0);
    top: 100%;
    left: 50%;
    margin-left: -15px;
}

.speech-bubble-left:after {
    border-right-color:  #626262;
    top: 50%;
    right: 100%;
    margin-top: -15px;
    color: rgba(255, 255, 255, 0);
}
.speech-bubble p {
    display: table-cell;
    vertical-align: middle;
}

.speech-bubble-green {
     position: relative;
     display: table;
     background-color: #3ac713;

     /*height: 550px;*/
     line-height: 40px; /* vertically center */
     color: rgb(255, 255, 255);
     text-align: justify;
     border-radius: 15px;
     padding: 20px 20px 20px 60px;
     /*font-family: sans-serif;*/
 }

.speech-bubble-yellow {
    position: relative;
    display: table;
    background-color: #f7fa0b;
l
line-height: 40px; /* vertically center */
    color: rgb(63, 63, 63);
    text-align: justify;
    border-radius: 15px;
    padding: 20px 20px 20px 60px;
    /*font-family: sans-serif;*/
}

.speech-bubble-red {
    position: relative;
    display: table;
    background-color: #c7391a;

    /*height: 550px;*/
    line-height: 40px; /* vertically center */
    color: rgb(255, 255, 255);
    text-align: justify;
    border-radius: 15px;
    padding: 20px 20px 20px 60px;
    /*font-family: sans-serif;*/
}

.speech-bubble-red-left:after {
    border-right-color:  #c7391a;
    top: 50%;
    right: 100%;
    margin-top: -15px;
    color: rgba(255, 255, 255, 0);
}

.speech-bubble-grey {
     position: relative;
     display: table;
     background-color: #46494a;
     /*height: 550px;*/
     line-height: 1em; /* vertically center */
     color: rgb(221, 221, 221);
     text-align: center;
     border-radius: 15px;
     padding: 10px;
     margin: 20px auto;
     /*font-family: sans-serif;*/
 }
.speech-bubble-color {
    position: relative;
    display: table;
    background-color: #626262;
    line-height: 40px; /* vertically center */
    color: rgb(255, 255, 255);
    text-align: justify;
    border-radius: 15px;
    padding: 30px 20px 30px 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    /*font-family: sans-serif;*/
}