@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster/Lobster.ttf');
}

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/Russo_One/RussoOne-Regular.ttf');
}

@font-face {
    font-family: "Ubuntu Condensed";
    src: url('../fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Istok Web';
    src: url('../fonts/Istok_Web/IstokWeb-BoldItalic.ttf');
}

html {
    line-height: 1
}

ol, ul {
    list-style: none
}

h1 {
    font-family: 'Istok Web' !important;
    font-style: normal;
    text-align: center;
    font-size: 1.4em;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

.pln {
    color: #bd3613
}

.str {
    color: #269186
}

.kwd {
    color: #859900
}

.com {
    color: #586175;
    font-style: italic
}

.typ {
    color: #b58900
}

.lit {
    color: #2aa198
}

.pun {
    color: #839496
}

.opn {
    color: #839496
}

.clo {
    color: #839496
}

.tag {
    color: #268bd2
}

.atn {
    color: #586175
}

.atv {
    color: #2aa198
}

.dec {
    color: #268bd2
}

.var {
    color: #268bd2
}

.fun {
    color: #FF0000
}

pre.prettyprint {
    background-color: #fdf6e3;
    padding: 10px;
    border: 1px solid #E1E1E8
}

ol.linenums {
    color: #4c666c
}

ol.linenums li {
    line-height: 18px;
    padding-left: 12px;
    list-style-type: decimal;
    color: #cecece
}

ol.linenums li code {
    padding-left: 1em
}

body {
    font-family: "Russo One";
    font-size: 42px;
    line-height: 1.5em;
    color: #424242;
}

a {
    color: #398235;
    text-decoration: none
}

li {
    list-style-type: circle;
    margin-left: 1em;
    font-size: 0.7619em
}

code, strong {
    color: #6d0019
}

pre {
    font-family: "Source Code Pro" !important;
    font-size: 0.42857em !important;
    line-height: 1.38em
}

pre code {
    text-shadow: none
}

pre ol.linenums li {
    margin-left: 0;
    padding-left: 0;
    font-size: 1em;
    line-height: 1.35em;
    list-style-position: inside
}

.big {
    text-align: center;
    font-size: 2.38095em;
    line-height: 1.2em
}

.legend {
    font-size: 0.57143em
}

body {
    background-image: url('../images/light_wool.png'), -webkit-radial-gradient(center, #abdedd 0%, #35a4b6 44%, #087982 100%);
    background-image: url('../images/light_wool.png'), -moz-radial-gradient(center, #abdedd 0%, #35a4b6 44%, #087982 100%);
    background-image: url('../images/light_wool.png'), -o-radial-gradient(center, #abdedd 0%, #35a4b6 44%, #087982 100%);
    background-image: url('../images/light_wool.png'), radial-gradient(center, #abdedd 0%, #35a4b6 44%, #087982 100%);
}

pre {
    border: 3px solid #398235;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #398235
}

.example pre {
    max-height: 400px
}

.example pre ol {
    max-height: 400px
}

.legend {
    position: absolute;
    bottom: -100px;
    right: 0
}

.flipcard {
    float: left;
    position: relative;
    width: 280px;
    height: 280px;
    margin: 80px 10px 0px;
    -webkit-perspective: 600px
}

.flipcard div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 60px;
    border: 1px solid #fff;
    border-radius: 140px;
    -webkit-box-shadow: 0 1px 5px #398235;
    -moz-box-shadow: 0 1px 5px #398235;
    box-shadow: 0 1px 5px #398235;
    color: #fff;
    font-size: 0.52381em;
    text-align: center;
    text-shadow: 0 1px 0 #398235;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer
}

.flipcard .front {
    z-index: 900;
    padding: 30px 15px;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background-image: -webkit-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background-image: -moz-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background-image: -o-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background-image: linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%)
}

.flipcard .back {
    z-index: 900;
    padding: 80px 15px;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-image: -webkit-linear-gradient(-45deg, #24A852 0%, #289980 100%);
    background-image: -moz-linear-gradient(-45deg, #24A852 0%, #289980 100%);
    background-image: -o-linear-gradient(-45deg, #24A852 0%, #289980 100%);
    background-image: linear-gradient(-45deg, #24A852 0%, #289980 100%)
}

.flipcard.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.flipcard.flip .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.front, .back {
    line-height: 100%;
    font-size: 0.75em!important;
}

.inventors .name, .inventors .language {
    position: absolute;
    top: 1600px;
    opacity: 0.1;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1200ms;
    -moz-transition-duration: 1200ms;
    -o-transition-duration: 1200ms;
    transition-duration: 1200ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms
}

.inventors .name {
    left: 420px
}

.inventors .language {
    left: 550px
}

.inventors.active .name {
    top: 350px;
    opacity: 1
}

.inventors.active .language {
    top: 420px;
    opacity: 1
}

.example pre.prettyprint {
    margin-bottom: 20px;
    position: relative
}

.example pre.prettyprint ol {
    overflow: auto;
    position: relative
}

.example pre.prettyprint ol:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 2.2em;
    background-color: #cecece
}

.example pre.prettyprint:after {
    content: '';
    display: block;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: -65px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #398235
}


.step {
    position: relative;
    width: 1200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 20px;
    margin: 20px auto;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms
}

.step.active {
    opacity: 1 !important
}
.substep {
    opacity: 0 !important
}
.substep.active, .substep.previous {
    opacity: 1 !important
}

.slide {
    font-size: 1.14286em;
    line-height: 1.85em;
    text-align: center;
    padding: 60px 0;
    border-top: 3px solid #106fa1;
    border-bottom: 3px solid #106fa1
}

.big li {
    list-style-type: none;
    margin-left: 0
}

.info {
    font-family: 'Ubuntu Condensed';
    margin: auto 20px;
    font-size: 0.9em;
    letter-spacing: 1.2em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.4em;
}

.infomin {
    font-family: 'Ubuntu Condensed';
    margin: auto 20px;
    font-size: 0.6em;
    letter-spacing: 0.9em;
    text-align: center;
    text-transform: uppercase;
    line-height: 150%;
}

h1.beauty {
    border-top: 3px solid #106fa1;
    padding: 80px 0;
    font-family: 'Lobster';
}

img.beauty {
    width: 700px;
    margin-left: 175px
}

.bigimage {
    height: 700px;
    margin:0 auto;
}

svg.beauty {
    margin-left: 150px;
    margin-top: -30px;
}

div.beauty {
    margin-left: 50px;
    margin-top: -50px;
    margin-bottom: -100px;
}

img.beauty2 {
    width: 800px;
    margin-left: 50px;
}

.subtitle {
    font-size: 1.1em;
    letter-spacing: 0;
    text-align: center;
    border-bottom: 3px solid #106fa1;
    padding-bottom: 0.2em
}

.author {
    position: absolute;
    bottom: -30px;
    right: 40px;
    font-size: 0.47619em
}

.divcard {
    float: left;
    position: relative;
    width: 280px;
    height: 280px;
    margin: 80px 10px 0px;
    padding: 0px 50px;
}

.imgcard {
    width: 280px;
    height: 280px;
}

#CONTENT .flipcard div {
    font-size: 0.8em !important;
    text-align: center;
}
.speechtrue {
    text-align: center;
    font-size: 1.2em;
    background: rgba(17, 70, 87, 0.70);
    padding: 20px 10px;
    width: 1000px;
    color: #fff;
    margin: 10px auto;
    border-radius: 5px;
    -webkit-mask-image: -webkit-linear-gradient(#4f4f4f, rgba(0,0,0,.9));
    -webkit-backface-visibility: hidden;
}


